__pycache__/
*.pyc
*.pyo
*.pyd
.Python
checkpoints/
data/
local/
logs/
matplotlib/
outputs/
event_displays/generated/
condor_logs/*.out
condor_logs/*.err
condor_logs/*.log
wandb/
*.egg-info/
.eggs/
dist/
build/
*.so
.env
